name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Copy .env vars
        run: cp .env.prod .env
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: copy .env.prod .env && yarn run build
          start: yarn start
